
{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=mottu_maintenance;Username=seu_user_name;Password=sua_senha"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}